<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />

    <link rel="stylesheet" href="../AS2_Globals.css" />

    <title>Contact Us | American Self Storage</title>

  </head>

  <body>

<!-------------------------------------------
                AS2 Header
------------------------------------------->
<header class="as2-header">
  <div class="ah-pre_header">
    <div class="page_center lg flexy">
			<div class="ah-socials">
        <ul>
          <li><img style="" src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/uhaul_affiliate.png" alt=""></li>
          <li><a target="_blank" href="https://www.facebook.com/AmericanSelfStorageOK"><!-- Facebook Square -->
								<svg aria-labelledby="facebook-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="facebook-icon">Facebook icon</title><path class="tm_facebook" d="M0,0v35h18.6V21.5h-4.6V16h4.6v-4.6c0-3.4,2.7-6.1,6.1-6.1h4.8v5h-3.4c-1.1,0-1.9,0.9-1.9,1.9V16h5.3l-0.7,5.5h-4.5V35H35V0H0z M0,0"/></svg></a></li>
          <!--li><a target="_blank" href=""><!-- Google Square ->
								<svg aria-labelledby="google-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="google-icon">Google icon</title><g><path class="tm_google" d="M0,0v35h35V0H0z M20.4,19c-0.6,3.9-3.5,6.2-7.3,6.2c-4.3,0-7.7-3.5-7.7-7.7c0-4.3,3.5-7.7,7.7-7.7c2.1,0,3.9,0.7,5.2,2L16,13.9c-0.8-0.8-1.8-1.2-3-1.2c-2.5,0-4.5,2.1-4.5,4.6c0,2.5,2,4.6,4.5,4.6c2.1,0,3.7-1,4.2-3.1h-4.2v-3.1h7.3c0.1,0.5,0.1,1,0.1,1.6C20.5,18,20.5,18.5,20.4,19L20.4,19z M29.7,18H27v2.7H25V18h-2.7v-1.9H25v-2.7H27v2.7h2.7V18z M29.7,18"/></g></svg></a></li-->
        </ul>
      </div>
      <div class="ah-access">
        <ul>
          <li><a class="cta_button AS2-btn AS2-btn_red" href="#">Find Locations</a></li>
          <li><a class="cta_button AS2-btn AS2-btn_red" href="#">Bill Pay</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ah-main_header">
    <div class="page_center lg flexy fl-vt_center fl-hz_center">
			<div class="ah-logo_wrap">
        <a href="/">
          <img src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/american_self_storage_logo.png" alt="">
        </a>
      </div>
      <div class="ah-mob_trigger">
        <button class="hamburger hamburger--3dxy" type="button">
          <span class="hamburger-box">
            <span class="hamburger-innjer"></span>
          </span>
        </button>
      </div>
      <div class="ah-nav_wrap">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">locations</a></li>
          <li><a href="#"><span class="sizeGuide">size guide</span></a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


<!-------------------------------------------
                AS2 Inner Banner
------------------------------------------->

<div class="inner-banner" style="background: url(https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/home_banner_bg2-compressor.jpg) center center no-repeat; background-size: cover;">

</div>
<div class="h1-container">

  <h1>Contact American Self Storage</h1>

</div>



<!-------------------------------------------
            AS2 Content and Form
------------------------------------------->

<div class="content-form">
   <div class="page_center md">
      <div class="cf-wrap flexy">
        <div class="cf-content f06">
          <div id="hs_cos_wrapper_widget_1553502090610_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_inline_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="inline_rich_text" data-hs-cos-field="content">
            <h2><img src="https://cdn2.hubspot.net/hub/3266276/hubfs/Site_Assets_2017/american_self_storage_logo.png?width=411&amp;name=american_self_storage_logo.png" alt="american_self_storage_logo" width="411" style="width: 411px; margin: 0px auto 30px; display: block;"></h2>
            <h2 style="color: #032459; font-size: 3.8rem; font-weight: bold; text-align: center;">American Self Storage Corporate</h2>
            <p>American Self-Storage is an Oklahoma owned company serving Oklahoma and Wichita, KS with 23 facilities, and over 30 years of experience. The Company offers a large selection of affordable, secure storage for your personal storage, boat and RV storage and business storage solutions. At American Self Storage we know that our existence is possible because of you, our customer, and we want to make sure that you have the best customer experience possible when it comes to storing your belongings. In addition to storage we also provide packing supplies and U-Haul truck rentals. The Company prides itself on maintaining great facilities and employing the best managers in the industry. We look forward to satisfying your self-storage needs.</p>
            <h2>Contact Information</h2>
            <p>info@americanselfstorageok.com</p>
            <a class="AS2-btn AS2-btn_red" href="mailto:info@americanselfstorageok.com">Email Us</a></div>
        </div>
        <div class="cf-form">
          <div class="form_wrap f04">
            {% form
              form_to_use="{{ module.contact_form.form_id }}"
              response_response_type="{{ module.contact_form.response_type }}"
              response_message="{{ module.contact_form.message }}"
              response_redirect_id="{{ module.contact_form.redirect_id }}"
              response_redirect_url="{{module.contact_form.redirect_url}}"
              gotowebinar_webinar_key="{{ module.contact_form.gotowebinar_webinar_key }}"
            %}
          </div>
        </div>
     </div>
  </div>
</div>


<!-------------------------------------------
                AS2 Size Guide
------------------------------------------->


<a href="#" class="AS2-btn AS2-btn_red"><span class="sizeGuide">Size Guide</span></a>

<div class="size-guide">
  <div class="sg-stage">
    <div class="sg-header">
      <h3>Storage Unit Size Guide<br><span>American Self Storage</span></h3>
      <button type="button" class="sg-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="sg-wrap flexy">
      <div class="sg-wrap_list">
        <ul>
          <li class="sg-link active" data-link="size5x5">5x5</li>
          <li class="sg-link" data-link="size5x10">5x10</li>
          <li class="sg-link" data-link="size5x15">5x15</li>
          <li class="sg-link" data-link="size10x10">10x10</li>
          <li class="sg-link" data-link="size10x15">10x15</li>
          <li class="sg-link" data-link="size10x20">10x20</li>
          <li class="sg-link" data-link="size10x30">10x30</li>
        </ul>
      </div>
      <div class="sg-wrap_content">
        <div class="sg-content active" data-slide="size5x5">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x5.png" alt="5x5 Storage Units at American Self Storage Oklahoma">
          <p>Personal items, clothes, boxes, skis, children's toys, small furniture items, business records and sales rep materials.</p>
        </div>
        <div class="sg-content" data-slide="size5x10">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x10.png" alt="5x10 Storage Units at American Self Storage Oklahoma">
          <p>Small amounts of furniture, sofas, chairs, chest of drawers, boxspring and mattress, business supplies and records. Plus other small items and boxes.</p>
        </div>
        <div class="sg-content" data-slide="size5x15">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x15.png" alt="5x15 Storage Units at American Self Storage Oklahoma">
          <p>Small amounts of furniture, sofas, chairs, chest of drawers, boxspring and mattress, business supplies and records. Plus other small items and boxes.</p>
        </div>
        <div class="sg-content" data-slide="size10x10">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x10.png" alt="10x10 Storage Units at American Self Storage Oklahoma">
          <p>One-bedroom apartment with major appliances, other furniture and supplies.</p>
        </div>
        <div class="sg-content" data-slide="size10x15">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x15.png" alt="10x15 Storage Units at American Self Storage Oklahoma">
          <p>A two-bedroom apartment or house, including appliances, boxes and miscellaneous items and commercial storage inventory.</p>
        </div>
        <div class="sg-content" data-slide="size10x20">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x20.png" alt="10x20 Storage Units at American Self Storage Oklahoma">
          <p>A three-bedroom house with major appliances, plus lots of boxes. Business storage files and inventory ideal for storage racks.</p>
        </div>
         <div class="sg-content" data-slide="size10x30">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x30.png" alt="10x30 Storage Units at American Self Storage Oklahoma">
          <p>A four to five-bedroom house with major appliances and room for boxes. Excellent for business storage of files, equipment and permanent records.</p>
        </div>
      </div>
    </div>
    <div class="sg-footer">
      {% cta guid="{{ module.cta_field }}" %}
    </div>
  </div>
</div>


<!-------------------------------------------
                AS2 Footer
------------------------------------------->


<footer class="as2-footer">
  <div class="page_center lg">
    <div class="af-wrap flexy">
      <div class="af-half af-nav">
        <span id="hs_cos_wrapper_widget_1549863809936_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
          <div id="hs_menu_wrapper_widget_1549863809936_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="7518243247" aria-label="Navigation Menu">
           <ul>
            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Helpful Links</a>
              <ul class="hs-menu-children-wrapper">
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Our Locations</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem"><span class="sizeGuide">Size Guide</span></a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Truck Rental Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Trailer Rental Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Packing Supply Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Moving Guide</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Insurance Guide</a></li>
              </ul>
            </li>
            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="#" aria-haspopup="true" aria-expanded="false" role="menuitem">Company Info</a>
              <ul class="hs-menu-children-wrapper">
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">American Storage Blog</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
      </div>
      <div class="af-half af-bio">
        <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/Site_Assets_2017/american_self_storage_stacked.png?width=226&amp;height=120&amp;name=american_self_storage_stacked.png" alt="american_self_storage_stacked" width="226" height="120">
        <p>
          American Self-Storage is an Oklahoma owned company serving Oklahoma and Wichita, KS with 23 facilities, and over 30 years of experience. The Company offers a large selection of affordable, secure storage for your personal storage, boat and RV storage and business storage solutions. At American Self Storage we know that our existence is possible because of you, our customer, and we want to make sure that you have the best customer experience possible when it comes to storing your belongings. In addition to storage we also provide packing supplies and U-Haul truck rentals. The Company prides itself on maintaining great facilities and employing the best managers in the industry. We look forward to satisfying your self-storage needs.
        </p>
        <ul>
          <li><img style="-webkit-transform: translateY(-6px); transform: translateY(-6px);" src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/uhaul_affiliate.png" alt=""></li>
          <li><a target="_blank" href="https://www.facebook.com/AmericanSelfStorageOK"><!-- Facebook Square -->
								<svg aria-labelledby="facebook-icon" role="img" viewbox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="facebook-icon">Facebook icon</title><path class="tm_facebook" d="M0,0v35h18.6V21.5h-4.6V16h4.6v-4.6c0-3.4,2.7-6.1,6.1-6.1h4.8v5h-3.4c-1.1,0-1.9,0.9-1.9,1.9V16h5.3l-0.7,5.5h-4.5V35H35V0H0z M0,0" /></svg></a></li>
          <!--li><a target="_blank" href=""><!-- Google Square ->
								<svg aria-labelledby="google-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="google-icon">Google icon</title><g><path class="tm_google" d="M0,0v35h35V0H0z M20.4,19c-0.6,3.9-3.5,6.2-7.3,6.2c-4.3,0-7.7-3.5-7.7-7.7c0-4.3,3.5-7.7,7.7-7.7c2.1,0,3.9,0.7,5.2,2L16,13.9c-0.8-0.8-1.8-1.2-3-1.2c-2.5,0-4.5,2.1-4.5,4.6c0,2.5,2,4.6,4.5,4.6c2.1,0,3.7-1,4.2-3.1h-4.2v-3.1h7.3c0.1,0.5,0.1,1,0.1,1.6C20.5,18,20.5,18.5,20.4,19L20.4,19z M29.7,18H27v2.7H25V18h-2.7v-1.9H25v-2.7H27v2.7h2.7V18z M29.7,18"/></g></svg></a></li-->
        </ul>
      </div>
    </div>
    <div class="af-copyright">
      © Copyright 2019, American Self Storage. All Rights Reserved.<br>
      <span>Marketing &amp; Design Powered by <a href="https://www.khaoticdigtal.com" target="_blank">Khaotic Digital, LLC</a></span>
    </div>
  </div>
</footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <script src="../AS2_Globals.js"></script>

  </body>

</html>
