<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />

    <link rel="stylesheet" href="../AS2_Globals.css" />

    <title>Search Our Locations | American Self-Storage</title>

  </head>

  <body>

<!-------------------------------------------
                AS2 Header
------------------------------------------->
<header class="as2-header">
  <div class="ah-pre_header">
    <div class="page_center lg flexy">
			<div class="ah-socials">
        <ul>
          <li><img style="" src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/uhaul_affiliate.png" alt=""></li>
          <li><a target="_blank" href="https://www.facebook.com/AmericanSelfStorageOK"><!-- Facebook Square -->
								<svg aria-labelledby="facebook-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="facebook-icon">Facebook icon</title><path class="tm_facebook" d="M0,0v35h18.6V21.5h-4.6V16h4.6v-4.6c0-3.4,2.7-6.1,6.1-6.1h4.8v5h-3.4c-1.1,0-1.9,0.9-1.9,1.9V16h5.3l-0.7,5.5h-4.5V35H35V0H0z M0,0"/></svg></a></li>
          <!--li><a target="_blank" href=""><!-- Google Square ->
								<svg aria-labelledby="google-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="google-icon">Google icon</title><g><path class="tm_google" d="M0,0v35h35V0H0z M20.4,19c-0.6,3.9-3.5,6.2-7.3,6.2c-4.3,0-7.7-3.5-7.7-7.7c0-4.3,3.5-7.7,7.7-7.7c2.1,0,3.9,0.7,5.2,2L16,13.9c-0.8-0.8-1.8-1.2-3-1.2c-2.5,0-4.5,2.1-4.5,4.6c0,2.5,2,4.6,4.5,4.6c2.1,0,3.7-1,4.2-3.1h-4.2v-3.1h7.3c0.1,0.5,0.1,1,0.1,1.6C20.5,18,20.5,18.5,20.4,19L20.4,19z M29.7,18H27v2.7H25V18h-2.7v-1.9H25v-2.7H27v2.7h2.7V18z M29.7,18"/></g></svg></a></li-->
        </ul>
      </div>
      <div class="ah-access">
        <ul>
          <li><a class="cta_button AS2-btn AS2-btn_red" href="#">Find Locations</a></li>
          <li><a class="cta_button AS2-btn AS2-btn_red" href="#">Bill Pay</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ah-main_header">
    <div class="page_center lg flexy fl-vt_center fl-hz_center">
			<div class="ah-logo_wrap">
        <a href="/">
          <img src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/american_self_storage_logo.png" alt="">
        </a>
      </div>
      <div class="ah-mob_trigger">
        <button class="hamburger hamburger--3dxy" type="button">
          <span class="hamburger-box">
            <span class="hamburger-innjer"></span>
          </span>
        </button>
      </div>
      <div class="ah-nav_wrap">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">locations</a></li>
          <li><a href="#"><span class="sizeGuide">size guide</span></a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


<!-------------------------------------------
                AS2 Inner Banner
------------------------------------------->

<div class="inner-banner" style="background: url(https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/home_banner_bg2-compressor.jpg) center center no-repeat; background-size: cover;">

</div>
<div class="h1-container">

  <h1>Find an American Self-Storage Location</h1>

</div>



<!-------------------------------------------
          AS2 Locations Map and Filter
------------------------------------------->

<div class="map-filter">
  <div class="page_center md flexy">
    <div class="mf-list">
      <div class="location-search">
        <h3>
          Find Locations in Oklahoma &amp; Kansas:
        </h3>
        <form>
        <div class="flexy">
          <div class="ls-search">
            <input id="autocomplete" type="search" placeholder="zip code, city, or state..." required="" autocomplete="off">
            <input type="hidden" id="city2" name="city2">
            <input type="hidden" id="cityLat" name="cityLat">
            <input type="hidden" id="cityLng" name="cityLng">
          </div>
          <div class="ls-submit">
            <input type="button" class="AS2-btn AS2-btn_red" value="Go" onclick="direct();">
          </div>
      	</div>
      </form>
      </div>



        <div class="loc_1 mf-item flexy" data-latlng="35.63996,-97.48462" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-11.jpg?length=160&amp;name=1-11.jpg" alt="American Self Storage #1 | 1323 South Broadway, Edmond, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #1</h2>
            <p>
              1323 South Broadway<br>
              Edmond, OK 73034
            </p>

            <a href="tel:+114053401905">1 (405) 340-1905</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_2 mf-item flexy" data-latlng="35.61069,-97.51659" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-1.jpg?length=160&amp;name=2-1.jpg" alt="American Self Storage #2 | 201 West Memorial Road, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #2</h2>
            <p>
              201 West Memorial Road<br>
              Oklahoma City, OK 73114
            </p>

            <a href="tel:+114057511006">1 (405) 751-1006</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_3 mf-item flexy" data-latlng="35.51603,-97.511" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1.jpg?length=160&amp;name=1.jpg" alt="American Self Storage #3 | 4400 North Santa Fe, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #3</h2>
            <p>
              4400 North Santa Fe<br>
              Oklahoma City, OK 73118
            </p>

            <a href="tel:+114055286772">1 (405) 528-6772</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_4 mf-item flexy" data-latlng="35.48187,-97.40753" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/6.jpg?length=160&amp;name=6.jpg" alt="American Self Storage #4 | 1301 North Air Depot Blvd., Midwest City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #4</h2>
            <p>
              1301 North Air Depot Blvd.<br>
              Midwest City, OK 73110
            </p>

            <a href="tel:+114057334003">1 (405) 733-4003</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_5 mf-item flexy" data-latlng="35.21926,-97.40933" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/3.jpg?length=160&amp;name=3.jpg" alt="American Self Storage #5 | 2111 East Alameda, Norman, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #5</h2>
            <p>
              2111 East Alameda<br>
              Norman, OK 73071
            </p>

            <a href="tel:+114053642122">1 (405) 364-2122</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_6 mf-item flexy" data-latlng="35.22457,-97.47784" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-1.jpg?length=160&amp;name=1-1.jpg" alt="American Self Storage #6 | 510 24th Ave. Nw, Norman, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #6</h2>
            <p>
              510 24th Ave. Nw<br>
              Norman, OK 73069
            </p>

            <a href="tel:+114053644807">1 (405) 364-4807</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_7 mf-item flexy" data-latlng="35.37546,-97.52727" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-2.jpg?length=160&amp;name=1-2.jpg" alt="American Self Storage #7 | 736 Southwest 89th Street, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #7</h2>
            <p>
              736 Southwest 89th Street<br>
              Oklahoma City, OK 73139
            </p>

            <a href="tel:+114056913670">1 (405) 691-3670</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_8 mf-item flexy" data-latlng="35.41662,-97.4872" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-3.jpg?length=160&amp;name=1-3.jpg" alt="American Self Storage #8 | 4900 South Hattie, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #8</h2>
            <p>
              4900 South Hattie<br>
              Oklahoma City, OK 73129
            </p>

            <a href="tel:+114056706553">1 (405) 670-6553</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_9 mf-item flexy" data-latlng="35.4774,-97.60253" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/3-1.jpg?length=160&amp;name=3-1.jpg" alt="American Self Storage #9 | 929 North Meridian, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #9</h2>
            <p>
              929 North Meridian<br>
              Oklahoma City, OK 73107
            </p>

            <a href="tel:+114059428227">1 (405) 942-8227</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_10 mf-item flexy" data-latlng="35.53559,-97.63374" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-4.jpg?length=160&amp;name=1-4.jpg" alt="American Self Storage #10 | 6800 Northwest 63rd Street, Bethany, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #10</h2>
            <p>
              6800 Northwest 63rd Street<br>
              Bethany, OK 73008
            </p>

            <a href="tel:+114057210764">1 (405) 721-0764</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_11 mf-item flexy" data-latlng="35.58121,-97.65289" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-5.jpg?length=160&amp;name=1-5.jpg" alt="American Self Storage #11 | 7801 West Hefner Rd., Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #11</h2>
            <p>
              7801 West Hefner Rd.<br>
              Oklahoma City, OK 73162
            </p>

            <a href="tel:+114057228709">1 (405) 722-8709</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_12 mf-item flexy" data-latlng="35.60568,-97.63756" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-2.jpg?length=160&amp;name=2-2.jpg" alt="American Self Storage #12 | 13330 North Rockwell Avenue, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #12</h2>
            <p>
              13330 North Rockwell Avenue<br>
              Oklahoma City, OK 73142
            </p>

            <a href="tel:+114057213579">1 (405) 721-3579</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_13 mf-item flexy" data-latlng="34.594494,-98.42613" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-3.jpg?length=160&amp;name=2-3.jpg" alt="American Self Storage #13 | 2411 Southwest Lee Blvd., Lawton, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #13</h2>
            <p>
              2411 Southwest Lee Blvd.<br>
              Lawton, OK 73505
            </p>

            <a href="tel:+115802486615">1 (580) 248-6615</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_14 mf-item flexy" data-latlng="37.74575,-97.30032" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-6.jpg?length=160&amp;name=1-6.jpg" alt="American Self Storage #14 | 3401 Hillside, Wichita, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #14</h2>
            <p>
              3401 Hillside<br>
              Wichita, KS 67219
            </p>

            <a href="tel:+113168381365">1 (316) 838-1365</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_15 mf-item flexy" data-latlng="35.37627,-96.98601" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-4.jpg?length=160&amp;name=2-4.jpg" alt="American Self Storage #15 | 37803 45th Street, Shawnee, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #15</h2>
            <p>
              37803 45th Street<br>
              Shawnee, OK 74804
            </p>

            <a href="tel:+114052756401">1 (405) 275-6401</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_16 mf-item flexy" data-latlng="35.37093,-96.91194" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-5.jpg?length=160&amp;name=2-5.jpg" alt="American Self Storage #16 | 4131 North Harrison, Shawnee, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #16</h2>
            <p>
              4131 North Harrison<br>
              Shawnee, OK 74804
            </p>

            <a href="tel:+114052758709">1 (405) 275-8709</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_17 mf-item flexy" data-latlng="35.27961,-96.93061" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-7.jpg?length=160&amp;name=1-7.jpg" alt="American Self Storage #17 | 19702 Gordon Cooper Drive, Tecumseh, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #17</h2>
            <p>
              19702 Gordon Cooper Drive<br>
              Tecumseh, OK 74873
            </p>

            <a href="tel:+114052759687">1 (405) 275-9687</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_18 mf-item flexy" data-latlng="35.371147,-96.92624" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-8.jpg?length=160&amp;name=1-8.jpg" alt="American Self Storage #18 | 25 Ken Del Drive, Shawnee, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #18</h2>
            <p>
              25 Ken Del Drive<br>
              Shawnee, OK 74804
            </p>

            <a href="tel:+114052752022">1 (405) 275-2022</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_19 mf-item flexy" data-latlng="35.49924,-97.7349" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/3-2.jpg?length=160&amp;name=3-2.jpg" alt="American Self Storage #19 | 750 South Ranchwood Blvd., Yukon, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #19</h2>
            <p>
              750 South Ranchwood Blvd.<br>
              Yukon, OK 73099
            </p>

            <a href="tel:+114053501511">1 (405) 350-1511</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_20 mf-item flexy" data-latlng="35.32205,-97.48343" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/1-10.jpg?length=160&amp;name=1-10.jpg" alt="American Self Storage #20 | 1701 Tower Drive, Moore, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #20</h2>
            <p>
              1701 Tower Drive<br>
              Moore, OK 73160
            </p>

            <a href="tel:+114058957204">1 (405) 895-7204</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_21 mf-item flexy" data-latlng="35.39299,-97.53838" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-6.jpg?length=160&amp;name=2-6.jpg" alt="American Self Storage #21 | 1255 W I-240 Service Road, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #21</h2>
            <p>
              1255 W I-240 Service Road<br>
              Oklahoma City, OK 73139
            </p>

            <a href="tel:+114056289000">1 (405) 628-9000</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_22 mf-item flexy" data-latlng="35.45294,-97.68998" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/5.jpg?length=160&amp;name=5.jpg" alt="American Self Storage #22 | 1221 S. Morgan Rd, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #22</h2>
            <p>
              1221 S. Morgan Rd<br>
              Oklahoma City, OK 73128
            </p>

            <a href="tel:+114053248900">1 (405) 324-8900</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>




        <div class="loc_23 mf-item flexy" data-latlng="35.60771,-97.50281" data-matrix="hello">
          <div class="mf-item_img">
            <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/2-7.jpg?length=160&amp;name=2-7.jpg" alt="American Self Storage #23 | 13524 Railway Dr #1, Oklahoma City, ">
          </div>
          <div class="mf-item_info">
            <h2>American Self Storage #23</h2>
            <p>
              13524 Railway Dr #1<br>
              Oklahoma City, OK 73114
            </p>

            <a href="tel:+114055501807">1 (405) 550-1807</a>
            <a href="#">Reserve a Unit</a>
          </div>
        </div>


    </div>
    <div id="mf-map" class="mf-map">
        <div id="map"></div>
    </div>
  </div>
</div>


<!-------------------------------------------
                AS2 Size Guide
------------------------------------------->


<a href="#" class="AS2-btn AS2-btn_red"><span class="sizeGuide">Size Guide</span></a>

<div class="size-guide">
  <div class="sg-stage">
    <div class="sg-header">
      <h3>Storage Unit Size Guide<br><span>American Self Storage</span></h3>
      <button type="button" class="sg-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="sg-wrap flexy">
      <div class="sg-wrap_list">
        <ul>
          <li class="sg-link active" data-link="size5x5">5x5</li>
          <li class="sg-link" data-link="size5x10">5x10</li>
          <li class="sg-link" data-link="size5x15">5x15</li>
          <li class="sg-link" data-link="size10x10">10x10</li>
          <li class="sg-link" data-link="size10x15">10x15</li>
          <li class="sg-link" data-link="size10x20">10x20</li>
          <li class="sg-link" data-link="size10x30">10x30</li>
        </ul>
      </div>
      <div class="sg-wrap_content">
        <div class="sg-content active" data-slide="size5x5">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x5.png" alt="5x5 Storage Units at American Self Storage Oklahoma">
          <p>Personal items, clothes, boxes, skis, children's toys, small furniture items, business records and sales rep materials.</p>
        </div>
        <div class="sg-content" data-slide="size5x10">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x10.png" alt="5x10 Storage Units at American Self Storage Oklahoma">
          <p>Small amounts of furniture, sofas, chairs, chest of drawers, boxspring and mattress, business supplies and records. Plus other small items and boxes.</p>
        </div>
        <div class="sg-content" data-slide="size5x15">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/5x15.png" alt="5x15 Storage Units at American Self Storage Oklahoma">
          <p>Small amounts of furniture, sofas, chairs, chest of drawers, boxspring and mattress, business supplies and records. Plus other small items and boxes.</p>
        </div>
        <div class="sg-content" data-slide="size10x10">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x10.png" alt="10x10 Storage Units at American Self Storage Oklahoma">
          <p>One-bedroom apartment with major appliances, other furniture and supplies.</p>
        </div>
        <div class="sg-content" data-slide="size10x15">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x15.png" alt="10x15 Storage Units at American Self Storage Oklahoma">
          <p>A two-bedroom apartment or house, including appliances, boxes and miscellaneous items and commercial storage inventory.</p>
        </div>
        <div class="sg-content" data-slide="size10x20">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x20.png" alt="10x20 Storage Units at American Self Storage Oklahoma">
          <p>A three-bedroom house with major appliances, plus lots of boxes. Business storage files and inventory ideal for storage racks.</p>
        </div>
         <div class="sg-content" data-slide="size10x30">
          <img class="d-block img-fluid" src="https://cdn2.hubspot.net/hubfs/3266276/Size%20Estimator/10x30.png" alt="10x30 Storage Units at American Self Storage Oklahoma">
          <p>A four to five-bedroom house with major appliances and room for boxes. Excellent for business storage of files, equipment and permanent records.</p>
        </div>
      </div>
    </div>
    <div class="sg-footer">
      {% cta guid="{{ module.cta_field }}" %}
    </div>
  </div>
</div>


<!-------------------------------------------
                AS2 Footer
------------------------------------------->


<footer class="as2-footer">
  <div class="page_center lg">
    <div class="af-wrap flexy">
      <div class="af-half af-nav">
        <span id="hs_cos_wrapper_widget_1549863809936_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu">
          <div id="hs_menu_wrapper_widget_1549863809936_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="7518243247" aria-label="Navigation Menu">
           <ul>
            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Helpful Links</a>
              <ul class="hs-menu-children-wrapper">
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Our Locations</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem"><span class="sizeGuide">Size Guide</span></a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Truck Rental Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Trailer Rental Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Packing Supply Providers</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Moving Guide</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Insurance Guide</a></li>
              </ul>
            </li>
            <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu"><a href="#" aria-haspopup="true" aria-expanded="false" role="menuitem">Company Info</a>
              <ul class="hs-menu-children-wrapper">
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">American Storage Blog</a></li>
                <li class="hs-menu-item hs-menu-depth-2" role="menuitem"><a href="#" role="menuitem">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
      </div>
      <div class="af-half af-bio">
        <img src="https://cdn2.hubspot.net/hub/3266276/hubfs/Site_Assets_2017/american_self_storage_stacked.png?width=226&amp;height=120&amp;name=american_self_storage_stacked.png" alt="american_self_storage_stacked" width="226" height="120">
        <p>
          American Self-Storage is an Oklahoma owned company serving Oklahoma and Wichita, KS with 23 facilities, and over 30 years of experience. The Company offers a large selection of affordable, secure storage for your personal storage, boat and RV storage and business storage solutions. At American Self Storage we know that our existence is possible because of you, our customer, and we want to make sure that you have the best customer experience possible when it comes to storing your belongings. In addition to storage we also provide packing supplies and U-Haul truck rentals. The Company prides itself on maintaining great facilities and employing the best managers in the industry. We look forward to satisfying your self-storage needs.
        </p>
        <ul>
          <li><img style="-webkit-transform: translateY(-6px); transform: translateY(-6px);" src="https://www.americanselfstorageok.com/hubfs/Site_Assets_2017/uhaul_affiliate.png" alt=""></li>
          <li><a target="_blank" href="https://www.facebook.com/AmericanSelfStorageOK"><!-- Facebook Square -->
								<svg aria-labelledby="facebook-icon" role="img" viewbox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="facebook-icon">Facebook icon</title><path class="tm_facebook" d="M0,0v35h18.6V21.5h-4.6V16h4.6v-4.6c0-3.4,2.7-6.1,6.1-6.1h4.8v5h-3.4c-1.1,0-1.9,0.9-1.9,1.9V16h5.3l-0.7,5.5h-4.5V35H35V0H0z M0,0" /></svg></a></li>
          <!--li><a target="_blank" href=""><!-- Google Square ->
								<svg aria-labelledby="google-icon" role="img" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><title id="google-icon">Google icon</title><g><path class="tm_google" d="M0,0v35h35V0H0z M20.4,19c-0.6,3.9-3.5,6.2-7.3,6.2c-4.3,0-7.7-3.5-7.7-7.7c0-4.3,3.5-7.7,7.7-7.7c2.1,0,3.9,0.7,5.2,2L16,13.9c-0.8-0.8-1.8-1.2-3-1.2c-2.5,0-4.5,2.1-4.5,4.6c0,2.5,2,4.6,4.5,4.6c2.1,0,3.7-1,4.2-3.1h-4.2v-3.1h7.3c0.1,0.5,0.1,1,0.1,1.6C20.5,18,20.5,18.5,20.4,19L20.4,19z M29.7,18H27v2.7H25V18h-2.7v-1.9H25v-2.7H27v2.7h2.7V18z M29.7,18"/></g></svg></a></li-->
        </ul>
      </div>
    </div>
    <div class="af-copyright">
      © Copyright 2019, American Self Storage. All Rights Reserved.<br>
      <span>Marketing &amp; Design Powered by <a href="https://www.khaoticdigtal.com" target="_blank">Khaotic Digital, LLC</a></span>
    </div>
  </div>
</footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <script src="../AS2_Globals.js"></script>

  </body>

</html>
